:root {
    --sl-color-black: oklch(0.13 0.02 263);
    --sl-color-gray-1: oklch(0.94 0.01 268);
    --sl-color-gray-2: oklch(0.77 0.01 268);
    --sl-color-gray-3: oklch(0.56 0.02 268);
    --sl-color-gray-4: oklch(0.36 0.02 268);
    --sl-color-gray-5: oklch(0.23 0.02 268);
    --sl-color-gray-6: oklch(0.17 0.02 268);
	--sl-color-white: oklch(0.98 0 0);

    --sl-color-accent-low: oklch(0.17 0.05 248);
    --sl-color-accent: oklch(0.85 0.15 248);
    --sl-color-accent-high: oklch(0.7 0.21 248);
}

:root[data-theme='light'] {
    --sl-color-black: oklch(0.985 0 0);
    --sl-color-gray-1: oklch(0.17 0.02 268);
    --sl-color-gray-2: oklch(0.23 0.02 268);
    --sl-color-gray-3: oklch(0.36 0.02 268);
    --sl-color-gray-4: oklch(0.56 0.02 268);
    --sl-color-gray-5: oklch(0.77 0.01 268);
    --sl-color-gray-6: oklch(0.94 0.01 268);
	--sl-color-white: oklch(0.13 0.02 263);

    --sl-color-accent-low: oklch(0.17 0.05 248);
    --sl-color-accent: oklch(0.85 0.15 248);
    --sl-color-accent-high: oklch(0.7 0.21 248);
}